$blue:var(--e-global-color-f27e010);
$orange:var(--e-global-color-e7709c2);
$darkorange:var( --e-global-color-4aa2e2c );
$textgrey:var(--e-global-color-text);
$lightgrey:var(--e-global-color-962785d);

.font {
    &_primary-headline {
        font-size:var(--e-global-typography-primary-font-size);
        font-weight:var(--e-global-typography-primary-font-weight);
        line-height:var(--e-global-typography-primary-line-height);
    }
    &_secondary-headline {
        font-size:var(--e-global-typography-secondary-font-size);
        font-weight:var(--e-global-typography-secondary-font-weight);
        line-height:var(--e-global-typography-secondary-line-height);
    }
    &_body-light {
        font-size:var(--e-global-typography-text-font-size);
        font-weight:var(--e-global-typography-text-font-weight);
        line-height:var(--e-global-typography-text-line-height);
    }
    &_third-headline {
        font-size:var(--e-global-typography-94d9e13-font-size);
        font-weight:var(--e-global-typography-94d9e13-font-weight);
        line-height:var(--e-global-typography-94d9e13-line-height);
    }
    &_fourth-headline {
        font-size:var(--e-global-typography-88961d5-font-size);
        font-weight:var(--e-global-typography-88961d5-font-weight);
        line-height:var(--e-global-typography-88961d5-line-height);
        letter-spacing:var(--e-global-typography-88961d5-letter-spacing);
    }
    &_fifth-headline {
        font-size:var(--e-global-typography-0b51f40-font-size) !important;
        font-weight:var(--e-global-typography-0b51f40-font-weight);
        line-height:var(--e-global-typography-0b51f40-line-height);
    }
    &_accent-text {
        font-size:var(--e-global-typography-accent-font-size) !important;
        font-weight:var(--e-global-typography-accent-font-weight) !important;
    }
    &_regular {
        font-size:var(--e-global-typography-27649b5-font-size);
        font-weight:var(--e-global-typography-27649b5-font-weight);
    }
}